hydf_face_recognition/faces/David/*
hydf_face_recognition/faces/Kevin/*
recorded.avi
__pycache__/
venv*/
known_faces.json
hydf_object_detection/box/
hydf_object_detection/gun/
hydf_object_detection/face/
hydf_object_detection/face_half_covered/
hydf_object_detection/face_fully_covered/
hydf_object_detection/labels_my-project-name_2025-04-23-08-25-16/
hydf_object_detection/mix/
TOOLS/
hydf_anomaly_detection/1_walk/
hydf_anomaly_detection/2_enter/
hydf_anomaly_detection/3_package_deliver/
static/logs/
email_config.py
