absl-py==2.2.2
astunparse==1.6.3
blinker==1.9.0
boto3 @ file:///C:/b/abs_94dptui0hl/croot/boto3_1743092161441/work
botocore @ file:///C:/b/abs_b30e4rdh47/croot/botocore_1743067708913/work
brotlicffi @ file:///C:/b/abs_f4lixvzmxt/croot/brotlicffi_1736183286104/work
certifi==2025.1.31
cffi @ file:///C:/b/abs_29_b57if3f/croot/cffi_1736184144340/work
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
contourpy==1.3.3
cycler==0.12.1
dlib @ file:///C:/bld/dlib-split_1757653149336/work
face-recognition==1.3.0
face_recognition_models==0.3.0
filelock==3.19.1
Flask==3.1.0
flatbuffers==25.2.10
fonttools==4.60.0
fsspec==2025.9.0
gast==0.6.0
google-pasta==0.2.0
grpcio==1.71.0
h5py==3.13.0
hmmlearn==0.3.3
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
jmespath @ file:///C:/b/abs_59jpuaows7/croot/jmespath_1700144635019/work
joblib==1.5.2
keras==3.9.2
kiwisolver==1.4.9
libclang==18.1.1
Markdown==3.8
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.6
mdurl==0.1.2
ml_dtypes==0.5.1
mpmath==1.3.0
namex==0.0.9
networkx==3.5
numpy==2.1.3
opencv-python==4.11.0.86
opt_einsum==3.4.0
optree==0.15.0
packaging==25.0
pillow==11.3.0
polars==1.33.1
protobuf==5.29.4
psutil==7.1.0
pycparser @ file:///C:/miniconda3/conda-bld/pycparser_1757496060165/work
pycryptodome==3.22.0
Pygments==2.19.1
pyparsing==3.2.5
PySocks @ file:///C:/ci_311/pysocks_1676425991111/work
python-dateutil @ file:///C:/b/abs_3au_koqnbs/croot/python-dateutil_1716495777160/work
PyYAML==6.0.3
requests==2.32.3
rich==14.0.0
s3transfer @ file:///C:/b/abs_e1_skf5kqf/croot/s3transfer_1738245166863/work
scikit-learn==1.7.2
scipy==1.16.2
six @ file:///C:/b/abs_149wuyuo1o/croot/six_1744271521515/work
sympy==1.14.0
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==3.0.1
threadpoolctl==3.6.0
torch==2.8.0
torchvision==0.23.0
typing_extensions==4.13.2
ultralytics==8.3.203
ultralytics-thop==2.0.17
urllib3==2.4.0
Werkzeug==3.1.3
win-inet-pton @ file:///C:/ci_311/win_inet_pton_1676425458225/work
wrapt==1.17.2
